.swiper-button-next,
.swiper-button-prev{
    display: none!important;
    padding: 30px;
    color: white!important;
    font-size: 2px!important;
    font-weight: bolder!important;
 
    width: 40px!important;
    height: 40px!important;
    z-index: 1!important;
    /* opacity: 0!important; */
    transition: .5s!important;
    background: rgba(255, 111, 97, .7) !important;
    border-radius: 4px!important;
  
}
.swiper-button-next:hover{
    display: inline-block!important;
    opacity: 1;
}
.swiper-button-prev:hover{
    display: inline-block!important;
}
.active__tab{
    background-color:#FF6F61!important;
    color:#ffffff!important ;
}



