@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600;700;900&display=swap');


body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #f3f6ff;

}

@tailwind base;
@tailwind components;
@tailwind utilities;
